<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.toranglocationservice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application>
        <service android:name=".core.TorangLocationService"/>
        <service android:name=".core.TorangLocationServiceImpl"/>
    </application>
</manifest>